

<div class="min-h-screen flex items-center justify-center p-6 bg-gray-50 dark:bg-gray-900 transition-colors duration-300">
    
    <form  
        [formGroup]="loginForm" 
        (ngSubmit)="onSubmit()"
        novalidate
        class="w-full max-w-md p-6 rounded-2xl shadow-md space-y-4
               bg-white dark:bg-content-dark
               transition-colors duration-300"
    >
        <h2 class="text-2xl font-semibold text-center text-gray-800 dark:text-white">
            Sign in
        </h2>

         <div>
            <label for="email" class="block text-sm font-medium mb-1 text-gray-700 dark:text-gray-300">
                Email
            </label>
            
            <input
                id="email"
                type="email"
                formControlName="email"
                autocomplete="off"
                class="block w-full rounded-md px-3 py-2 border focus:ring-1 
                       border-gray-300 dark:border-gray-600
                       bg-white dark:bg-gray-700
                       text-gray-900 dark:text-white
                       focus:border-indigo-500 focus:ring-indigo-500
                       dark:placeholder-gray-400"
                aria-invalid="{{ loginForm.get('email')?.invalid }}"
                aria-describedby="email-error"
            />
            <p id="email-error" class="mt-1 text-sm text-red-600 dark:text-red-400" *ngIf="emailInvalid">
                {{ emailErrorMessage }}
            </p>
        </div>
        
        <div>
            <label for="password" class="block text-sm font-medium mb-1 text-gray-700 dark:text-gray-300">
                Password
            </label>
            <p-password 
            size="large"
            id="password"
            class="w-full" inputStyleClass="w-full bg-white dark:bg-gray-700 dark:text-white dark:border-gray-600"
            formControlName="password"
            autocomplete="off" 
            [showClear]="true"
            [toggleMask]="true"
            [feedback]="false"
            />
            
            <p id="password-error" class="mt-1 text-sm text-red-600 dark:text-red-400" *ngIf="passwordInvalid">
                {{ passwordErrorMessage }}
            </p>
        </div>

        <div id="form-error" class="text-sm text-red-700 dark:text-red-400" aria-live="polite">
            {{ ((error$ | async)) }}
        </div>
        
        <div class="space-y-3">
            <button type="submit" [disabled]="loading$ | async"
                class="w-full inline-flex items-center justify-center rounded-lg px-4 py-2 text-sm font-medium
                       text-white bg-primary hover:bg-primary/90 
                       disabled:opacity-50 disabled:cursor-not-allowed
                       dark:focus:ring-offset-gray-800"
                aria-live="polite"
            >
                {{ (loading$ | async) ? 'Logging in...' : 'Login' }}
            </button>
        

            <div class="text-left">
                <a (click)="openDialog()" 
                   class="text-sm cursor-pointer font-semibold underline 
                          text-indigo-600 hover:text-indigo-800
                          dark:text-indigo-400 dark:hover:text-indigo-300">
                    Sign up
                </a>
            </div>
        </div>
    </form>
</div>


<user-registration></user-registration>