/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: oklch(51.1% 0.262 276.966);

  /**Font color**/
  --text-color: var(--color-gray-700);


  --color-content-dark: oklch(27.8% 0.033 256.848);
  --color-bg-dark: oklch(21% 0.034 264.665);

  --color-content-light: oklch(98.5% 0.002 247.839);
  --text-color-dark: oklch(27.8% 0.033 256.848)
  
  /* ... */
}