/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: oklch(51.1% 0.262 276.966);

  /**Font color**/
  --text-color: var(--color-gray-700);
  
  /* ... */
}